body {
    font-family: Arial;
    text-align: center;
    background-color: #f2f2f2;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
}

.form {
    margin: 15px;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 12px;
    background-color: #2196F3;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0b7dda;
}

.order-card {
    background: white;
    padding: 10px;
    margin: 10px auto;
    width: 300px;
    border-radius: 5px;
}